<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- My layout style -->
    <link rel="stylesheet" href="../assets/css/mainLayout.css"> 
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        #OptionBtns{
            display: flex;
            justify-content: space-evenly;
        }

        form{width: 75%;}
    </style>
</head>

<body>
        <div id="mainLayout"></div>
    <!-- Container -->
    <div class="container" id="layoutContainer">
        <div class="row z-depth-1" id="mainRow">
            <div class="col s12" style="margin: 0; padding :0px;display: flex;flex-direction: column; ">
                <div class="wrapper" style="margin-top: 20px;display: flex;flex-direction: column;justify-content: center;align-items: center;">
                    <h1>New Trainning Course</h1>
                        <form id="AddForm">
                                <div class="row">
                                    <div class="col s6">
                                        <div class="input-field">
                                            <input type="number" name="Number" id="Number">
                                            <label for="Number">Course Number</label>
                                        </div>
                                    </div>
                                    <div class="col s6">
                                        <div class="input-field">
                                            <input type="text" name="Name" id="Name">
                                            <label for="Name">Course Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6">
                                        <div class="input-field">
                                            <input type="text" name="trainer" id="trainer">
                                            <label for="trainer">Course Trainer</label>
                                        </div>
                                    </div>
                                    <div class="col s6">
                                        <label for="Internal">Internal</label>
                                        <div class="input-field">
                                            <div class="switch">
                                                <label>
                                                    In
                                                    <input type="checkbox"  id="Internal">
                                                    <span class="lever"></span>
                                                    Out
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field">
                                        <input type="Number" name="feedback" id="feedback" data-length=3>
                                        <label for="feedback">Course FeedbackCode</label>
                                </div>
                                
                                <div class="input-field">
                                    <input type="Date" name="startdate" id="startdate">
                                    <label for="startdate">Course StartDate</label>
                                </div>
                                <div class="input-field">
                                        <input type="Date" name="enddate" id="enddate">
                                        <label for="enddate">Course EndDate</label>
                                    </div>
                               
                               
                                
            
                            </form>
                            <div class="col s12" id="OptionBtns">
                                    <button id="BackBtn" class="btn waves-effect waves-light">Back<i
                                    class="material-icons left">arrow_back</i></button>
                                    
                                    <button type="submit" id="AddCourse" form="AddForm" class="btn waves-effect waves-light" >Add
                                            <i class="material-icons right">add</i>
                                    </button>
                                </div>
                </div>
            </div><!-- End Col s12 -->
        </div><!-- End Row -->
    </div> <!-- End Container -->



    <!--JavaScript at end of body for optimized loading-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="module" src="../Controllers/AddCourse.js" ></script>
</body>

</html>
<!-- <div class="col s12" style="margin: 0; padding :0px;display: flex;flex-direction: column; ">

</div>End Col s12 -->